//
   Created by masikann on 4/2/17.

section(data-fragment='events')
  header
    h2.
      Events

  section Events come here..
    section(data-carousel) Photos from previous events
      .slides
          img(src='../source/Images/events-1.jpg')
      .slides
          img(src='../source/Images/events-2.jpg')
      .slides
          img(src='../source/Images/events-3.jpg')

