//
   Created by masikann on 3/30/17.

section(data-default='headerNNav')
    nav
      ul.mainNavigation
          li.collapseIcon
            a(data-collapseLinks) Go to ...

          li
            a(data-navigation='intro') Home

          li
            a(data-navigation='addressNHours') Address N Hours

          li
            a(data-navigation='events') Events

          li
              a(data-navigation='listOfBooks') Book list

    header
        h1.mainHeading.
            The Alameda Library