//
   Created by masikann on 3/30/17.

section(data-fragment='intro')
  div.
    The Alameda County Library, in Alameda County, California, is a public library system that provides services from ten branch libraries in the cities of Albany, Dublin, Fremont, Newark and Union City and the unincorporated communities of Castro Valley and San Lorenzo. According to 2005/2006 statistics, the total service area represents a population of about 522,000, and annual circulation is reported to be around 5.5 million.[3] Its headquarters are located in Fremont.[4]
     The County Library was established in 1910 and is governed by the Alameda County Board of Supervisors. The Alameda County Library Advisory Commission advises the County Librarian and the Board of Supervisors on library services.

  img.fullSizeImage(src='../source/Images/libraryImg.jpg')