//
   Created by masikann on 3/30/17.

section(data-fragment = 'addressNHours')
  section(data-address)
      header
        h2.
          Address:
        div
          pre.
            2400 Stevenson Blvd,
            Fremont, CA 94538


    section(data-hours)
        header
          h2.
            Hours:

        div
          ul
              li
                b Sunday:
                span.
                  1 p.m. - 5 p.m.
              li
                  b Monday:
                  span.
                      1 p.m. - 5 p.m.
              li
                  b Tuesday:
                  span.
                      1 p.m. - 5 p.m.

    section(data-carousel) Carousel check
        .slides
            img(src='../source/Images/libraryImg.jpg')
        .slides
            img(src='../source/Images/events-2.jpg')
        .slides
            img(src='../source/Images/events-3.png')